DuplexTestProject/Client/Client/Projects/DSA.Subscription.Service/Service References/DuplexService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DSA.Database.Model.Entities.SettingsEntities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DSA.Database.Model.Entities.SettingsEntities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LocalArea">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SettingsItem">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LocalArea" nillable="true" type="tns:LocalArea" />
  <xs:complexType name="SettingsItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SettingsItem" nillable="true" type="tns:SettingsItem" />
  <xs:complexType name="LocalLocation">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SettingsItem">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LocalLocation" nillable="true" type="tns:LocalLocation" />
  <xs:complexType name="LocalWork">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SettingsItem">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LocalWork" nillable="true" type="tns:LocalWork" />
  <xs:complexType name="LocalMaterial">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SettingsItem">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LocalMaterial" nillable="true" type="tns:LocalMaterial" />
  <xs:complexType name="ArrayOfLocalArea">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LocalArea" nillable="true" type="tns:LocalArea" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLocalArea" nillable="true" type="tns:ArrayOfLocalArea" />
  <xs:complexType name="ArrayOfLocalWork">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LocalWork" nillable="true" type="tns:LocalWork" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLocalWork" nillable="true" type="tns:ArrayOfLocalWork" />
  <xs:complexType name="ArrayOfLocalMaterial">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LocalMaterial" nillable="true" type="tns:LocalMaterial" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLocalMaterial" nillable="true" type="tns:ArrayOfLocalMaterial" />
  <xs:complexType name="ArrayOfLocalLocation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LocalLocation" nillable="true" type="tns:LocalLocation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLocalLocation" nillable="true" type="tns:ArrayOfLocalLocation" />
</xs:schema>